* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  /* background-color: brown; */
}

/* #home, */
#projects,
#workExperience

/* #contact  */
  {
  background-color: teal;
  /* background-image: linear-gradient(to right bottom, #CC7722 15%, teal 50%); */
  background-image: linear-gradient(to right bottom, #CC7722 50%, teal 50%);
  /* background-image: url("../images/blue-background.jpg"); */
  padding-top: 50px;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
  background-color: teal;
  background-image: linear-gradient(to right bottom, teal 50%, #CC7722 50%);
  padding-top: 50px;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  /* background-color: #CC7722; */
  background-color: teal;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#workExperience {
  color: white;
}

/* #home {
  width: 100%;
} */
.navfont {
  font-family: 'Unica One', cursive;
  font-size: 3ch;
}

/* .navbar-toggler {
  border-color: red;
  background-color: black;
}  */
.fa-bars {
  color: red;
}

.portfolio,
.contact {
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* font-size: xx-large; */
}

/* .summary {
  box-shadow: 10px 10px 10px #FAF9F6;
} */
.hand {
color: teal;
}

.work {
  /* color: #21618c; */
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: xx-large;
  font-style: normal; 
}

#link {
  color: white;
  /* color: teal; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: large;
  font-style: italic; 
}

.links{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  /* position: relative; */
  /* width: 50%; */
}

.wrapper:hover .image {
  opacity: 0.3;
}

.image {
  position: relative;
  /* display: block; */
  /* width: 100%;
  height: auto; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: #008CBA; */
}

.wrapper:hover .overlay {
  opacity: 1;
}

.textOverlay {
  color: white !important;
  font-size: 20px;
  position: absolute;
  margin-top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-image{
  position: relative;
  text-align: center;
  color: #E4A11B;
}

.project-summary{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: larger;
  font-style: normal;
}

.project-general-heading {
  text-align: center;
}

.loadall {
  /* align-items: center; */
  display: block;
  margin: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-shadow: 1px 1px 1px #E4A11B;
}

@media only screen and (max-width: 930px) {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    box-shadow: 1px 1px 1px #E4A11B;
  }
}

.button-text{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: larger;
  font-style: normal;
}

/* .textOverlay1 {
  color: white !important;
  font-size: 20px;
  position: absolute;
  bottom: 2%;
  right: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
/* .textOverlay2 {
  color: white !important;
  font-size: 20px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
/* Are the changes reflected? */
.nav-link,
.headerContent,
#about,
.scroll>a {
  color: white !important;
}

.active {
  color: red !important;
}

.card-text {
  color: #21618c;
}

.headerContent {
  font-family: 'Merienda', cursive;
  font-size: 44px;
  text-align: center;
  margin-top: 20%;
}

.scroll {
  margin-top: 125px;
  /* margin-bottom: 0; */
  text-align: center;
}

/* header{
  position:fixed;
} */
.slideImage {
  cursor: pointer;
  width: 50%;
  margin: auto;
}

#headerCard {
  background-color: black;
  align-items: center;
  margin-top: 30px;
}

#profile {
  border-radius: 50%;
  float: center;
  display: block;
  margin-top: -20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px grey;
}

.projectImage {
    box-shadow: 10px 10px 5px grey;
    filter: blur(2px);
  /* -webkit-filter: blur(2px); */
}

.project-general-heading{
  font-family: "Rhodium Libre", serif;
  font-weight: 700;
  font-size: xx-large;
  font-style: normal;
  color: #E4A11B;
}

.hlsmall {
  border-top: 2px solid #21618c;
}

.hl {
  border-top: 2px solid #21618c;
}

.vl {
  border-left: 2px solid #21618c;
  height: 100px;
  position: absolute;
  left: 50%;
}

.bulletVl {
  border-left: 2px solid teal;
  /* border-left: 2px solid white; */
  margin-left: 6%;
  height: 100%;
}

.fa-dot-circle {
  color: #FFFFF0;
}

#contact-me {
  float: right;
  margin-left: 250px;
}

#contactContent {
  margin: 13%;
}

.text {
  font-family: 'Quicksand', sans-serif;
  color: #21618c;
}

#name {
  margin-top: 0px;
}

.title {
  /* font-family: 'Anton', sans-serif;
  color:#C70039; */
  margin-bottom: 0px;
}

.heading {
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  color: #21618c;
}

.btnTxt {
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Shadows Into Light', cursive;
  margin-bottom: 100px;
}

.icon {
  color: #21618c;
}

.role {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: xx-large;
  font-style: normal;
}

.experience {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: larger;
  font-style: italic;
}

.desc {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: large;
  font-style: normal;
}

#card-profile {
  border-radius: 50%;
  float: center;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px grey;
}

#bg {
  position: relative;
  height: 150px;
  box-shadow: 10px 10px 5px grey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 1);
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
  /* background: #e1e1e1; */
  background: #21618c;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}

.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Media queries */
@media only screen and (min-width: 320px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* #projects,
  #workExperience {
    background-image: none;
    background-color: yellow;
    } */
  .image {
    width: 100%;
    object-fit: contain;
  }

  .modal {
    margin: 0 auto;
  }

  /* .modal-dialog {
      max-width: 30%;
      max-height: 40%;
    } */
  .textOverlay {
    color: white !important;
    font-size: 12px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* .textOverlay1 {
      color: white !important;
      font-size: 15px;
      position: absolute;
      margin-bottom: 50%;
      left: 50%;
      margin: 0 auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
  /* .textOverlay2 {
      color: white !important;
      font-size: 15px;
      position: absolute;
      bottom: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
}

@media only screen and (min-width: 414px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* #projects,
  #workExperience {
    background-image: none;
    background-color: blue;
    } */
  .image {
    width: 100%;
    object-fit: contain;
  }

  #contactContent {
    text-align: center;
  }

  .modal {
    margin: 0 auto;
  }

  /* .modal-dialog {
      max-width: 30%;
      max-height: 40%;
    } */
  .textOverlay {
    color: white !important;
    font-size: 12px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .learnMore {
    font-size: 12px;
  }

  /* .textOverlay1 {
      color: white !important;
      font-size: 15px;
      position: absolute;
      margin-bottom: 50%;
      left: 50%;
      width: fit-content;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
  /* .textOverlay2 {
      color: white !important;
      font-size: 15px;
      position: absolute;
      bottom: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
}

@media only screen and (min-width: 576px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* #projects,
  #workExperience {
    background-image: none;
    background-color: violet;
    } */
  .image {
    width: 100%;
    object-fit: contain;
  }

  #contactContent {
    text-align: center;
  }

  .modal {
    margin: 0 auto;
  }

  /* .modal-dialog {
      max-width: 30%;
      max-height: 40%;
    } */
  .textOverlay {
    color: white !important;
    font-size: 12px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .learnMore {
    font-size: 12px;
  }

  /* .textOverlay1 {
      color: white !important;
      font-size: 15px;
      position: absolute;
      width: fit-content;
      margin-bottom: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
  /* .textOverlay2 {
      color: white !important;
      font-size: 15px;
      position: absolute;
      bottom: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
}

@media only screen and (min-width: 768px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .modal {
    margin: 0 auto;
  }

  /* .modal-dialog {
    max-width: 30%;
    max-height: 40%;
  } */
  .textOverlay {
    color: white !important;
    font-size: 15px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .learnMore {
    font-size: 15px;
  }

  /* .textOverlay1 {
    color: white !important;
    font-size: 15px;
    width: fit-content;
    position: absolute;
    margin-bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */
  /* .textOverlay2 {
    color: white !important;
    font-size: 15px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */
  .image {
    width: 100%;
    object-fit: contain;
  }

  /* #projects,
  #workExperience {
  background-image: none;
  background-color: green;
  } */
}

@media only screen and (min-width: 992px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* #projects,
  #workExperience {
    background-image: none;
    background-color: black;
    } */
  .image {
    width: 100%;
    object-fit: contain;
  }

  .modal {
    margin: 0 auto;
  }

  /* .modal-dialog {
      max-width: 30%;
      max-height: 40%;
    } */
  /* .textOverlay1 {
      color: white !important;
      font-size: 20px;
      position: absolute;
      margin-top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
  .textOverlay {
    color: white !important;
    font-size: 20px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .learnMore {
    font-size: 20px;
  }

  /* .textOverlay2 {
      color: white !important;
      font-size: 20px;
      position: absolute;
      bottom: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
}

@media only screen and (min-width: 1200px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* .image {
    width: 643px;
  } */
  .image {
    width: 100%;
    object-fit: contain;
  }

  /* #projects,
  #workExperience {
    background-image: none;
    background-color: red;
    } */
  .modal {
    margin: 0 auto;
  }

  /* .modal-dialog {
      max-width: 30%;
      max-height: 40%;
    } */
  .textOverlay {
    color: white !important;
    font-size: 20px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .learnMore {
    font-size: 20px;
  }

  /* .textOverlay1 {
      color: white !important;
      font-size: 20px;
      position: absolute;
      margin-bottom: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
  /* .textOverlay2 {
      color: white !important;
      font-size: 20px;
      position: absolute;
      bottom: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    } */
}